

* {   

      margin: 0;  
      padding: 0;
   
   }



.mealNameButtonsBoxContainer{

display: flex;
justify-content: space-between;

}

.mealForm {

display: grid;

}

.foodForm {

   display: grid;
   }


   .buttonsBox {

      display: flex;

   }




   .real {

   margin-Bottom:5px;

  
}


   

   .dark-box {
      
      color:black;
      background-color: white;
      box-shadow: 10px 10px 30px black;


   }


.boxForHoldFoodIndividualDetails {

   display:none;

}

#logo {


   font-size: x-large;
   padding: 10px;


}

   


   
  .dark-menu {

   color:white;
   font-size:large;
   padding: 9px;
   background-color: blue; 
   border-radius: 5px;
   height: fit-content;
   position:relative;


  }


 .item {

      display:none;
      
       }



   body {  

      background-color: black;
 
 }

 .dark-mode {

      background-color:rgb(249, 241, 241);
      
      
      }


      


 nav { 

      display:flex;
      color:yellow;
      background-color: #5e5e5e;
      justify-content:  space-between;
      height:50px;
      
}

.light-nav { 

   display:flex;
   color:white;
   background-color: blue;
   justify-content:  space-between;
   height:50px;
   
}





.menu{

   padding: 10px;
   height:fit-content;
   position:relative;
   font-size:large;
   background-color: #5e5e5e;
   
  }

  .light-menu{

   padding: 10px;
   height:fit-content;
   position:relative;
   font-size:large;
   background-color: blue;
   
  }



  #menu-button {

   text-align:right;
   font-size:x-large;


  }



 input  { 

      color:black;
      border-style: none;
      padding: 5px;
      border-radius: 10px;
      background-color: white ; 
      margin-bottom: 10px;

}


button {   

    background-color: #5e5e5e; 
    color:white;
    font-size: 19px;
    border-style:none;
    margin-bottom:7px;
    border-radius:5px;

}

input {

   color:black;

}


.light-button {

   background-color: blue; 
   color:white;
   font-size: 19px;
   border-style:none;
   margin-bottom:7px;
   border-radius:5px;


}

.mealNameButtonsBoxContainer {

   display:flex;
   justify-content: space-between;
}




.container > div {

   color: yellow;
   margin-bottom:15px;
   background-color: #5e5e5e;
   margin-top:15px;
   border-radius:10px;
   padding:5px;
   max-width:500px;
   margin-left: 5px;

}


 



.foodNameButtonsBoxContainer {

color: white;
display:flex;
justify-content: space-between;


}






.dark-container > div {

      color:black;
      margin-bottom:15px;
      margin-top:15px;
      border-radius:10px;
      padding:5px;
      background-color:white;
      max-width:500px;
      box-shadow : 5px 5px 20px black;

}

.subBoxForHoldFoodNameAndAmountChoosen {

   display:flex;
   color:white;
   justify-content:space-between;
   height:25px;


}

.dark-subBoxForHoldFoodNameAndAmountChoosen {

   display:flex;
   color:black;
   justify-content:space-between;
   height:25px;


}



.ui-helper-hidden-accessible{

      display:none;


}


ul.ui-autocomplete {   


      list-style:none;
      width : fit-content;
      height:fit-content;
       
}

.ui-menu .ui-menu-item  {   

  
  max-width:150px;
  padding:1px;
  
  
  background-color:white;

};


.btn-sub-input {

   background-color:#5e5e5e ;
   padding:5px;
   margin-bottom:8px;
   color:white;

}



.united {

   margin-bottom:10px;
   



}

#totalCalCarbProtGord{

   color:yellow;
   background-color: #5e5e5e;
   padding:5px;
   border-radius: 10px;
   max-width: 500px;
   margin: 5px;

  
  }