* {   

      margin: 0;  
      padding: 0;
   
   }


   body {  

      background-color: #242424;
 
 }

 nav { 
      display:flex;
      background-color: #5e5e5e; 
      justify-content:  space-between;
      height:50px;   
}


 #menu{

  color:white;
  font-size:large;
  padding: 7px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: white; 
  border-radius: 5px;
  height: fit-content;
  background-color: #5e5e5e;
  position:relative;
  

 }  

#menu-button {
color:yellow;
text-align:right;
font-size:x-large;
font-weight: bolder;
margin-bottom:5px;

 }

 .item {

display:none;

 }

input  { 

      color:white;
      border-style: none;
      padding: 5px;
      border-radius: 10px;
      background-color: #777777 ; 

}

button {   

    background-color: #5e5e5e; 
    color:white;
    font-size: 20px;
    border-radius: 10px;
    
    border-style:none;
}




h1 {

  background-color: #5e5e5e;  
  color:yellow;
  font-size:x-large;
  padding:9px;

}


         

 

#totalCalCarbProtGord {  

      color:yellow;
      padding:5px;
      border-radius: 10px;
      max-width: 500px;
      margin: 5px;
      display:none;

}


#container {
            padding: 5px;


}


.ui-helper-hidden-accessible{

      display:none;


}


ul.ui-autocomplete {   


      list-style:none;
      width : fit-content;
      height:fit-content;
      
    
  
}

.ui-menu .ui-menu-item  {   

  
  max-width:150px;
  padding:3px;
  
  background-color:white;

};
